
.project-card__envelope{
    position: relative;
    background-color: transparent;
    border: solid 1px rgb(48 255 64);
    border-radius: 2px;
    width: 250px;
    height: 200px;
}


.project__card{
    position: relative;
    overflow: hidden;
    left: -10px;
    top: -10px;
    box-shadow: 6px 4px 3px #102c26;
}

.card__back{
    
    position: absolute;
    bottom: 210px;
    background-color: rgb(32 45 45);
    width: 250px;
    height: 200px;
    transition: ease 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.card__back h3{
    margin-top: .5rem;
}

.card__back button{
    color: palegreen;
    width: 150px;
    padding: .5rem 0 .5rem 0;
    background: linear-gradient(45deg, teal 50%, transparent 50%);
    background-size: auto 650%;
    border: 1px solid palegreen;
    border-radius: 3px;
    cursor: pointer;
    background-position: top;
    transition: background-position 0.5s ease-in-out;
    
}

.card__back button:hover{
    background-position: bottom;
}


.card__img:hover + .card__back{

    top: 0;
    transition: .5s ease;
    animation: buttonSlide .5s ease-in;
}

.card__back:hover{
    top: 0;
    transition: .9s ease;
    animation: buttonSlide .5s ease-in;
}




.dialog__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: #103434;
    color: white;
    border: solid 2px #3b8b70d1;

    

}

.dialog__img-container{
    width: 100%;
    min-width: 375px;
}

.dialog__img-container img{
    width: 100%;
}

.dialog__info{
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}

.dialog__info p{
    padding: 1rem;
}

@keyframes buttonSlide {
    0%{
        transform:translate(0,200px)
    }
    100%{
        transform: translateY(0,0);
    }
}