
.project__card{
    position: relative;
    overflow: hidden;
}

.card__back{
    
    position: absolute;
    bottom: 200px;
    background-color: rgb(48 68 68);
    width: 250px;
    height: 200px;
    transition: ease 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.card__back button{
    color: palegreen;
    width: 150px;
    padding: .5rem 0 .5rem 0;
    background-color: transparent;
    border: 1px solid palegreen;
    border-radius: 3px;
    cursor: pointer;
    
}



.card__img:hover + .card__back{

    top: 0;
    
    animation: buttonSlide .9s;
}

.card__back:hover{
    top: 0;
}

@keyframes buttonSlide {
    0%{
        transform:translate(0,200px)
    }
    100%{
        transform: translateY(0,0);
    }
}