.header{
    color: white;
    position: fixed;
    right: 0px;
    width: 100%;
    z-index: 100;
    animation: headerSlide .4s;
    background: #0a1218;
}

@keyframes headerSlide{
    0%{
        transform: translate(0,-200px);
        -webkit-transform: translate(0,-200px)
    }
    100%{
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
    }
}

.headerOut{
    width: 100%;
    color: white;
    position: fixed;
    right: 0px;
    top: -200px;
    z-index: 100;
    animation: headerOut 1s;
    background: #0a1218;
}

@keyframes headerOut{
    0%{
        -webkit-transform: translate(0,200px);
        transform: translate(0,200px);
    }
    100%{
        -webkit-transform: translate(0,0);
        transform: translate(0, 0);
    }
}

.header__nav{
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem 0 0;
}

.header__ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.header__item::before{
    content: "<";
    color: rgb(48 255 64);
}

.header__item::after{
    content: "/>";
    color: rgb(48 255 64);
}

.header__item:hover{
    cursor: pointer;
    color: rgb(48 255 64);
}

.header__mobile{
    z-index: 10;
}

.aside{
    color: white;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50vw;
    background: linear-gradient(
        45deg, #213a3c, #182a37);
    animation: slide .3s;
    z-index: 1;
    display: flex;
    justify-content: center;
}

@keyframes slide {
    0%{
        -webkit-transform: translate(1000px,0);
        transform:translate(1000px,0)
    }
    100%{
        -webkit-transform: translate(0,0) ;
        transform: translate(0,0);
    }
}

.aside__nav{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 50;
    display: flex;
    justify-content: center;
}

.aside-none{
    display: none;
}

.aside__ul{
    list-style: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-left: 0;
}

.aside__item{
    cursor: pointer;
}

.aside__item:hover{
    color: rgb(48 255 64);
}

.aside__item::before{
    content: "<";
    color: rgb(48 255 64);
}

.aside__item::after{
    content: "/>";
    color: rgb(48 255 64);
}

.aside__close{
    opacity: 0;
    width: 1000px;
    height: 1000px;
    position: absolute;
    right: 0;
    z-index: 0;
}


@media (max-width:900px){
    .header__ul{
        display: none;
    }
    .header{
        background: transparent;
    }

    .headerOut{
        background: transparent;
    }
}

@media (min-width:900px){
    
}


